@use 'variables' as *;

body {
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(43, 39, 39);
  .list{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    li{
      list-style: none;
      a{
        text-decoration: none;
        font-family: $primary-font;
        color: beige;
        display: block;
        background-color: $color2;
        width: 100px;
        text-align: center;
        padding: 10px 20px;
      }
      a:hover{
        text-decoration: none;
        font-family: $primary-font;
        color: beige;
        display: block;
        background-color: $color3;
        width: 100px;
        text-align: center;
        padding: 10px 20px;
      }  
    }
  }
  h1 {
    font-family: $primary-font;
    color: beige;
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .return {
    border: none;
    padding: 10px 20px;
    background-color: $color1;
    border-radius: 15px;
  }
  .container1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 25px;
    button {
      border: none;
      padding: 10px 20px;
    }
    .blue {
        background-color: #0F91FC;
      }
      .red {
        background-color: #fc0f0fff;
      }
      .green {
        background-color: #0ffc37ff;
      }
  }

  .container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    .contador {
      font-family: $primary-font;
      color: beige;
      font-size: 35px;
    }
    button {
      border: none;
      width: 300px;
      font-size: 35px;
      padding: 10px 20px;
    }
  }

  .container3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    .contador {
      font-family: $primary-font;
      color: beige;
      font-size: 35px;
    }
    input {
      margin-top: 25px;
    }
    button {
      margin-top: 25px;
      border: none;
      width: 150px;
      font-size: 15px;
      padding: 10px 20px;
    }
    .lista {
      li {
        font-family: $primary-font;
        color: beige;
      }
    }
  }

  .container4 {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    h3 {
    font-family: $primary-font;
    color: beige;
  }
  .resultado {
    display: block;
    background-color: white;
  }
  }

  .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .calculadora{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, auto);
      gap: 15px;
      width: 150px;
      margin: auto;
      margin-top: 25px;
      background-color: azure;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      div {
        gap: 10px;
        border: solid black 1px;
      }
      div:hover {
        gap: 10px;
        border: solid black 1px;
        background-color: rgba(94, 94, 34, 0.377);
      }
      .botonCalculadoraOp {
        background-color: aquamarine;
      }
      .botonCalculadoraOp:hover {
        background-color: rgb(31, 139, 103);
      }
      .botonCalculadoraRes {
        background-color: rgb(239, 177, 245);
      }
      .botonCalculadoraRes:hover {
        background-color: rgb(229, 87, 241);
      }  
    }
    .resultado {
      font-family: $primary-font;
      color: beige;
      text-align: center;
      font-size: 25px;
      padding: 15px 25px;
      margin-top: 25px;
      width: 250px;
    }
  }

  .container6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tiempo {
      p {
        font-family: $primary-font;
        color: rgb(114, 114, 104);
        font-size: 75px;
        font-weight: 900;
      }
    }
    .botonesCont {
      display: flex;
      justify-content: center;
      gap: 15px;
      button {
        border: none;
        padding: 10px 25px;
        background-color: $color2;
        border-radius: 15px;
      }
      button:hover {
        border: none;
        padding: 10px 25px;
        background-color: $color3;
        border-radius: 15px;
        color: white;
      }
    }
  }

  .container7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 25px;
  
    p {
      font-family: $primary-font;
      color: beige;
    }
    .botonGen {
        display: flex;
        justify-content: center;
        flex-direction: column;
        button {
          border: none;
          padding: 10px 25px;
          background-color: $color2;
          border-radius: 15px;
        }
        button:hover {
          border: none;
          padding: 10px 25px;
          background-color: $color3;
          border-radius: 15px;
          color: white;
        }
      }
    .result {
        margin-top: 25px;
        font-family: $primary-font;
        color: beige;
        text-align: center;
      }
    .error {
        margin-top: 25px;
        font-family: $primary-font;
        color: rgb(255, 0, 0);
      }
  }

  .container8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 25px;
    .parrafo {
      width: 350px;
      height: 250px;
    }
    .contadores {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $primary-font;
      color: beige;
    }
    .reiniciar {
      
        border: none;
        padding: 10px 25px;
        background-color: $color2;
        border-radius: 15px;
    }
    .reiniciar:hover {
        border: none;
        padding: 10px 25px;
        background-color: $color3;
        border-radius: 15px;
        color: white;
      }
    
  }

  .container9 {
    .tarea{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      gap: 15px;
      button {
          border: none;
          padding: 10px 25px;
          background-color: $color2;
          border-radius: 15px;
        }
      button:hover {
          border: none;
          padding: 10px 25px;
          background-color: $color3;
          border-radius: 15px;
          color: white;
        }
    }
    .lista-tareas {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      font-family: $primary-font;
      color: beige;
    }


    .botonLimp {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      button {
          border: none;
          padding: 10px 25px;
          background-color: $color2;
          border-radius: 15px;
        }
      button:hover {
          border: none;
          padding: 10px 25px;
          background-color: $color3;
          border-radius: 15px;
          color: white;
        }
    }
  }
}